 <!-- About Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>research</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div>
                 <center>
                    <p>Research in our lab utilizes a systems microbiology approach to quantify and leverage ecological and evolutionary dynamics of microbial populations. Our ultimate goal is to develop alternative strategies that combat the rise of antibiotic resistant pathogens.</p>
                </center>
                  </div>
                <div class="col-lg-4">
                    <p></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:alopatki@barnard.edu" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Email the Lopatkin Lab
                    </a>
                </div>
            </div>
        </div>
    </section>
