<!-- Join Us Section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Diversity & Inclusion Statement</h2>
                    <hr class="star-light">
                </div>
                <p style="font-size:24px">
                    The Lopatkin lab is passionately dedicated to educating and retaining women, particularly those from historically underrepresented groups, in STEM disciplines. We firmly believe that promoting and celebrating diversity not only benefits the lab and community, but ultimately leads to better science. To that end, we are committed to maintaining a safe, positive, and inclusive environment for all lab members, regardless of race, age, gender identity, sexual orientation, socioeconomic status, religion, nationality, physical/mental ability, or educational background. Our goal is to provide a healthy, equitable, and empowering environment where students can develop personally and professionally while performing cutting-edge research and forming collaborative relationships.
                </p>
            </div>
        </div>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Open Positions</h2>
                    <hr class="star-light">
                </div>
                <p style="font-size:24px">
                    Research Technician, NSF Funded 
                </p>
            </div>
        </div>
    </header>
    <section class="success" id="join" style="padding-top: 0px">
          <div class="container">
            <div class="row">
                <center>
                    <p style="font-size:24px">
                    Interested in joining the Lopatkin Lab? Drop us an email using the button below!
                    </p>
                </center>
              <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:alopatki@barnard.edu" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Email the Lopatkin Lab
                    </a>
               </div>
            </div>
        </div>
    </section>
