<!-- People Section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>people</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </header>
    <section class="success" id="people" style="padding-top: 0px">
        <div class="container">
            <div class="row">
                    <!-- Copy from here down to create a new section !-->
                    <p><font size="6"><b>Principal Investigator</b></font></p><br>
                        <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="ajl_headshot.jpg" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Allison Lopatkin </b></p> <p>Assistant Professor<br><a href="https://biology.barnard.edu/">Dept. of Biology</a><br><a href="https://barnard.edu/">Barnard College, Columbia University</a></p></td>
                            </tr>
                        </table>
                    <p align="justify">About Me:<br>Text goes here...</p>
                    <br>
                    <!-- Stop copying here for new section/entry !-->
                <br>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Email the Lopatkin Lab
                    </a>
                </div>
            </div>
        </div>
    </section>
