<!-- People Section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>people</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </header>
    <section class="success" id="people" style="padding-top: 0px">
        <div class="container">
            <div class="row">
                    <!-- Copy from here down to create a new section !-->
                    <p><font size="6"><b>Principal Investigator</b></font></p><br>
                        <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/ajl_headshot.jpg" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Allison Lopatkin </b></p> <p>Assistant Professor
                                    <br><a href="https://barnard.edu/profiles/allison-lopatkin/">Dept. of Biology, Barnard College</a>
                                    <br><a href="https://datascience.columbia.edu/people/allison-lopatkin/">Data Science Institute, Columbia University</a>
                                    <br><a href="http://e3b.columbia.edu/">E3B, Columbia University</a></p></td>
                            </tr>
                        </table>
                    <p align="justify">I am formally trained in Applied Mathematics from University of Rochester. I then went on to get a PhD in Biomedical Engineering from Duke University, and completed my postdoctoral training at MIT/Broad Institute in the lab of Jim Collins. You can find my full CV <a href="https://github.com/ajlopatkin/ajlopatkin.github.io/raw/master/Lopatkin_CV.pdf">here</a>. When I'm not in the lab you can find me hiking anywhere outdoors, or playing with my dog Tiki (who refuses to hike). </p>
                    <br>
                    <!-- Stop copying here for new section/entry !-->
                    <!-- Copy from here down to create a new section !-->
                    <p><font size="6"><b>Research Technician</b></font></p><br>
                        <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/MA_headshot.jpeg" width="155" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Mehrose Ahmad </b></p> <p>
                            </tr>
                        </table>
                    <p align="justify">I am a recent Barnard graduate (Class of 2021!) who majored in Biochemistry. Originally from Queens, New York, Barnard has always felt like my home away from home throughout the four years that I attended as a student. During my time at Barnard, I worked in the Austin lab and researched a neuronal protein that is implicated in various neurodegenerative diseases. As part of my gap years, I am excited to work in the Lopatkin lab to study antibiotic resistance. My previous work and the work that I will do in the Lopatkin lab will allow me to become a better learner, thinker, and researcher, and I ultimately hope to apply these skills as a future physician. Outside the lab, you can find me playing with my two cats, or cooking in the kitchen! </p>
                    <br>
                    <!-- Stop copying here for new section/entry !-->
                    <!-- Copy from here down to create a new section !-->
                    <p><font size="6"><b>Lab Members</b></font></p><br>
                    <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/JB_headshot.jpeg" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Jackie Balestrieri </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">I am a first year student from Long Island planning to major in Biology. I am passionate about research and excited to further my interests in genetics with the Lopatkin Lab. My past research has involved plant stress response analysis and gene characterization, in situ sequencing, and investigation of tardigrade genomes. Additionally I enjoy spending time in rehearsal with Barnard's premier a cappella group Bacchantae, baking bread, and paddle boarding when the sun is shining!</p>
                    <br>
                 <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/SE_headshot.jpeg" width="155" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Shahd ElNaggar </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">I am a student in the class of 2024 planning on majoring in Cellular & Molecular Biology. I am particularly interested in molecular genetics and mathematics and am looking forward to exploring computational biology in the lab. Outside of the lab, I am very passionate about music and love spending time by the sea scuba diving and kitesurfing!</p>
                    <br>
                <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/MF_headshot.JPG" width="100" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Maya Fabozzi </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">I am part of the Barnard class of 2024 and plan to major in Biology. I am very interested in how technology and modeling can help us predict biological outcomes, and I am excited to explore this more in the lab. Outside of the lab, I love idling in mountains and making music.</p>
                    <br>
                <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/DG_headshot.jpg" width="120" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Danya Gewurz </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">I am a first year student on the premed track at Barnard College. I am from Boston, Massachusetts. I am extremely interested in medicine and specifically the human body and how each biological process works. I am eager to be a part of this lab and help prevent the spread of antibiotic resistance. In my free time, I enjoy playing classical music on a piano, hiking and baking bread.</p>
                    <br>
               <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/EL_headshot.jpg" width="116" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Emily Lo </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify"> I am a first-year student from Massachusetts planning to major in computer science. My interests lie at the intersection of technology and medicine. I am excited to apply computing to better understand and analyze vast biological data. Outside the lab, you can find me crocheting or planning events with Columbia's Chinese Students Club. </p>
                    <br>
                                        <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/AP_headshot.jpg" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Alana Palomino </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">I am a rising junior majoring in Cellular & Molecular Biology. In addition to being a member of the Lopatkin Lab, I am an executive board member of the Columbia Science Review and I play for the Columbia Field Hockey team. In the lab, I’m interested in working towards preventing the spread of antibiotic resistance as it becomes an ever-growing threat to global health, first by understanding what influences HGT.</p>
                    <br>
                     <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/HP_headshot.jpg" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Hannah Prensky </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">Hannah is a rising junior at Barnard majoring in Cell & Molecular Biology and Economics. She is passionate about biological research and has a particular interest in genomics, nucleic acid nanotechnology, and gene editing for therapeutic purposes. In addition to her love of lab research, Hannah enjoys engaging with the scientific community through her positions as a journalist with the Columbia Science Review and as a developmental editor with the Columbia Undergraduate Research Journal. When she’s not in the lab, you can find her in the mountains skiing with the Columbia Ski Team.</p>
                    <br>
                     <br>
                <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/JP_headshot.jpg" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Jana Casals Puy </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">I am a second-year student at Barnard majoring in Computer Science with a Biology minor. I've always been interested in genetics and I can't wait to gain the computational and research experience necessary to learn more about how genes affect the world around us. I am excited to learn more about antibiotic resistance and how we can utilize computational programs to best study it and combat it.</p>
                    <br>
                  <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/KS_headshot.jpg" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Karolina Szenkiel </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">I'm a senior from New Jersey majoring in computational biology. I consider the evolution of antibiotic resistance to be one of the most prominent issues facing medicine, so I'm very eager to investigate this phenomenon in the lab. I'm also interested in the symbiosis between humans and microbes. In my free time, I enjoy baking, philosophy, and hiking with Barnard Outdoor Adventure Team.</p>
                    <br>
                 <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/JW_headshot.jpg" width="128" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Jessica Wang </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">I am a third-year at Barnard majoring in Physiological & Organismal Biology and Ancient Studies. I am interested in the phylogenetic relationships underlying bacterial evolution and I am really excited to combine this passion with my computational work in the lab. When I am not in the lab, you can find me on campus acting out silly sketches with Columbia University Sketch Show and playing for Columbia Women's Rugby Team.</p>
                    <br>
                     <br>
                <!-- Copy from here down to create a new section !-->
                    <p><font size="6"><b>Lab Alumni</b></font></p><br>
                                  <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/DE_headshot.png" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Deniz Ertem </b></p> <br>
                            </tr>
                        </table>
                    <br>
                <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/CJ_headshot.jpeg" width="155" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Claire Johnson </b></p> <br>
                            </tr>
                        </table>
                    <br>
                    <!-- Stop copying here for new section/entry !-->
                 <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/JM_headshot.jpeg" width="140" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Jenifer Moralez </b></p> <br>
                            </tr>
                        </table>
                    <br>
                    <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/UZ_headshot.png" width="145" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Ujana Zajmi </b></p> <br>
                            </tr>
                        </table>
                    <br>
                    <!-- Stop copying here for new section/entry !-->
                <br>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:alopatki@barnard.edu" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Email the Lopatkin Lab
                    </a>
                </div>
            </div>
        </div>
    </section>
