<!-- People Section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>people</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </header>
    <section class="success" id="people" style="padding-top: 0px">
        <div class="container">
            <div class="row">
                    <!-- Copy from here down to create a new section !-->
                    <p><font size="6"><b>Principal Investigator</b></font></p><br>
                        <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/ajl_headshot.jpg" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Allison Lopatkin </b></p> <p>Assistant Professor<br><a href="https://biology.barnard.edu/">Dept. of Biology</a><br><a href="https://barnard.edu/">Barnard College, Columbia University</a></p></td>
                            </tr>
                        </table>
                    <p align="justify">About Me:<br>I have a B.S. in Applied Mathematics from University of Rochester. I then went on to get a PhD in Biomedical Engineering from Duke University, and completed my postdoctoral training at MIT/Broad institute of MIT and Harvard in the lab of Jim Collins. When I'm not in the lab you can find me hiking anywhere outdoors, or playing with my dog Tiki (who refuses to hike). </p>
                    <br>
                    <!-- Stop copying here for new section/entry !-->
                                    <p><font size="6"><b>Lab Members</b></font></p><br>
                        <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/JM_headshot.jpeg" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Jenifer Moralez </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">I am a senior from Texas majoring in Neuroscience and Behavior. I am President of the Barnard Network of Pre-Medical Students, a Senior Interviewer and a guitar player. I am interested in human health, specifically the biological processes that occur everyday in our body to keep us healthy. I am eager to learn more about how infection resistance works and apply this knowledge to advance public health. </p>
                    <br>
                                        <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/AP_headshot.jpg" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Alana Palomino </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">I am a rising junior majoring in Cellular & Molecular Biology. In addition to being a member of the Lopatkin Lab, I am an executive board member of the Columbia Science Review and I play for the Columbia Field Hockey team. In the lab, I’m interested in working towards preventing the spread of antibiotic resistance as it becomes an ever-growing threat to global health, first by understanding what influences HGT.</p>
                    <br>
                                                        <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/HP_headshot.jpg" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p><b> Hannah Prensky </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">Hannah is a rising junior at Barnard majoring in Cell & Molecular Biology and Economics. She is passionate about biological research and has a particular interest in genomics, nucleic acid nanotechnology, and gene editing for therapeutic purposes. In addition to her love of lab research, Hannah enjoys engaging with the scientific community through her positions as a journalist with the Columbia Science Review and as a developmental editor with the Columbia Undergraduate Research Journal. When she’s not in the lab, you can find her in the mountains skiing with the Columbia Ski Team.</p>
                    <br>
                                                                        <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/UZ_headshot.png" width="114" height="155"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td> Zajmi
                                <td valign="left"><p><b> Ujana Zajmi </b></p> <p>Research assistant<br>
                            </tr>
                        </table>
                    <p align="justify">I am a rising third-year at Barnard, and I am pursuing a B.A. in Cellular and Molecular Biology. I was previously involved in research studying dauer formation in C. elegans at the Hobert Lab at Columbia University, and I am very excited to now be exploring antibiotic resistance with the Lopatkin Lab. In my free time, I enjoy oil painting and graphic design!</p>
                    <br>
                    <!-- Stop copying here for new section/entry !-->
                <br>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:alopatki@barnard.edu" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Email the Lopatkin Lab
                    </a>
                </div>
            </div>
        </div>
    </section>
