<!-- Publications Section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>publications</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </header>
    <section id="publications">
          <div class="container">
            <div class="row">
                <div style="font-size:20px;color: #{{ site.color.secondary }}">
                    <p>  
                        <ol>
                            <li><a href="https://www.nature.com/articles/nmicrobiol201644" target="_blank">Antibiotics as a selective driver for conjugation dynamics.</a> AJ Lopatkin, S Huang, RP Smith, JK Srimani, TA Sysoeva, S Bewick, DK Karig, L You. <b>Nature microbiology</b> 1 (6), 16044 (2016)</li>
                            <br>
                            <li><a href="https://www.nature.com/articles/s41467-017-01532-1" target="_blank">Persistence and reversal of plasmid-mediated antibiotic resistance.</a> AJ Lopatkin, HR Meredith, JK Srimani, C Pfeiffer, R Durrett, L You. <b>Nature communications</b> 8 (1), 1689 (2017)</li>
                            <br>
                            <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4806783/" target="_blank">Collective antibiotic tolerance: mechanisms, dynamics and intervention.</a> HR Meredith, JK Srimani, AJ Lee, AJ Lopatkin, L You. <b>Nature chemical biology</b> 11 (3), 182 (2015)</li>
                            <br>
                            <li><a href="http://msb.embopress.org/content/msb/13/10/948.full.pdf" target="_blank">Drug detoxification dynamics explain the postantibiotic effect.</a> JK Srimani, S Huang, AJ Lopatkin, L You. <b>Molecular systems biology</b> 13 (10), 948 (2017)</li>
                            <br>
                            <li><a href="https://www.nature.com/articles/s41598-017-00588-9" target="_blank">Cooperation and competition shape ecological resistance during periodic spatial disturbance of engineered bacteria.</a> CE Wilson, AJ Lopatkin, TJA Craddock, WW Driscoll, OT Eldakar, JV Lopez, RP Smith. <b>Scientific reports</b> 7 (1), 440 (2017)</li>
                            <br>
                            <li><a href="http://advances.sciencemag.org/content/4/12/eaau1873.abstract" target="_blank">Applying ecological resistance and resilience to dissect bacterial antibiotic responses.</a> HR Meredith, V Andreani, HR Ma, AJ Lopatkin, AJ Lee, DJ Anderson, AJ Lee, DJ Anderson, G Batt, L You. <b>Scientific advances</b> 4 (12), eaau1873 (2018)</li>
                            <br>
                            <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4527312/" target="_blank">Dynamic control and quantification of bacterial population dynamics in droplets.</a> S Huang, JK Srimani, AJ Lee, Y Zhang, AJ Lopatkin, KW Leong, L You. <b>Biomaterials</b> 61, 239-245 (2015)</li>
                            <br>                            
                            <li><a href="https://genome.duke.edu/labs/YouLab/publications/2016_Elements.pdf" target="_blank">Elements of biological oscillations in time and space.</a> Y Cao, AJ Lopatkin, L You. <b>Nature structural & molecular biology</b> 23 (12), 1030 (2016)</li>
                            <br>   
                            <li><a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004201" target="_blank">Bacterial temporal dynamics enable optimal design of antibiotic treatment.</a> HR Meredith, AJ Lopatkin, DJ Anderson, L You. <b>PLoS computational biology</b> 11 (4), e1004201 (2015)</li>
                            <br>   
                            <li><a href="https://pdfs.semanticscholar.org/c2ed/85ed4d12865fba3e8b4eb4ae312c36a42814.pdf" target="_blank">Dissecting the effects of antibiotics on horizontal gene transfer: Analysis suggests a critical role of selection dynamics.</a> AJ Lopatkin, TA Sysoeva, L You. <b>Bioessays</b> 38 (12), 1283-1292 (2016)</li>
                            <br>  
                            <li><a href="https://www.sciencedirect.com/science/article/pii/S0092867414012902" target="_blank">Synthetic biology looks good on paper.</a> AJ Lopatkin, L You. <b>Cell</b> 159 (4), 718-720 (2014)</li>
                            <br>  
                            <li><a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004203" target="_blank">Synthetic biology looks good on paper.</a> A power-law dependence of bacterial invasion on mammalian host receptors. TJ Lee, J Wong, S Bae, AJ Lee, A Lopatkin, F Yuan, L You. <b>PLoS computational biology</b> 11 (4), e1004203	3 (2015)</li>
                            <br> 
                            <li><a href="https://www.nature.com/articles/s41467-018-08188-5" target="_blank">A unifying framework for interpreting and predicting mutualistic systems.</a> F Wu, AJ Lopatkin, DA Needs, CT Lee, S Mukherjee, L You. <b>Nature communications</b> 1 (6), 16044 (2019)</li>
                            <br>
                            <li><a href="https://www.nature.com/articles/nchembio.1754" target="_blank">Collective antibiotic tolerance: mechanisms, dynamics and intervention.</a> HR Meredith, JK Srimani, AJ Lee, AJ Lopatkin, L You. <b>Nature chemical biology</b> 11 (3), 182 (2015)</li>
                            <br>
                        </ol>
                    </p>
              </div>
            </div>
        </div>
    </section>
