<!-- Publications Section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>publications</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </header>
    <section id="publications">
          <div class="container">
            <div class="row">
                <div style="font-size:20px">
                    <p>  
                        <ol>
                            <li><a href="https://www.nature.com/articles/nchembio.1754" target="_blank">Collective antibiotic tolerance: mechanisms, dynamics and intervention.</a> HR Meredith, JK Srimani, AJ Lee, AJ Lopatkin, L You. <b>Nature chemical biology</b> 11 (3), 182</li>
                            <br>
                            <li><a href="https://www.nature.com/articles/nmicrobiol201644" target="_blank">Antibiotics as a selective driver for conjugation dynamics.</a> AJ Lopatkin, S Huang, RP Smith, JK Srimani, TA Sysoeva, S Bewick, DK Karig, L You. <b>Nature microbiology</tb> 1 (6), 16044</li>
                            <br>
                        </ol>
                    </p>
              </div>
            </div>
        </div>
    </section>
