<!-- Publications Section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>publications</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </header>
    <section id="publications">
          <div class="container">
            <div class="row">
                <div style="font-size:20px;color: #{{ site.color.secondary }}">
                    <p>  
                        <ol>
                            <li><a href="https://www.sciencedirect.com/science/article/pii/S1369527421000552">Quantitative analysis of horizontal gene transfer in complex systems.</a> <br>
                                J Moralez, K Szenkiel, K Hamilton, A Pruden, AJ Lopatkin. <b>Current Opinion in Microbiology</b> (2021)</li>
                            <br>
                            <li><a href="https://pubmed.ncbi.nlm.nih.gov/33752122/">Investigation of the prevalence and catalytic activity of rubredoxin-fused alkane monooxygenases (AlkBs).</a> <br>
                                SC Williams, AP Forsberg, J Lee, C Vizcarra, AJ Lopatkin, RN Austin. <b>Journal of Inorganic Biochemistry</b> (2021)</li>
                            <br>
                            <li><a href="https://www.embopress.org/doi/full/10.15252/msb.20209913">Conjugation dynamics depend on both the plasmid acquisition cost and the fitness cost.</a> <br>
                                H Prensky, A Gomez-Simmons, AC Uhlemann, AJ Lopatkin. <b>Molecular Systems Biology</b> (2021)</li>
                            <br>
                            <li><a href="https://science.sciencemag.org/content/371/6531/eaba0862">Clinically relevant mutations in core metabolic genes confer antibiotic resistance.</a> <br>
                                AJ Lopatkin, SC Bening, AL Manson, JM Stokes, MA Kohanski, AH Badran, AM Earl, NJ Cheney, JH Yang, JJ Collins. <b>Science</b> (2021)</li>
                            <br>
                            <li><a href="https://www.frontiersin.org/articles/10.3389/fdgth.2021.583468">Nucleotide metabolism and antibiotic treatment failure.</a> <br>
                                AJ Lopatkin, JH Yang. <b>Frontiers in Digital Health</b> (2021)</li>
                            <br>
                            <li><a href="https://www.nature.com/articles/s41579-020-0372-5?utm_source=other&utm_medium=other&utm_content=null&utm_campaign=JRCN_2_DD01_CN_NatureRJ_article_paid_XMOL">Predictive biology: modelling, understanding and harnessing microbial complexity.</a> <br>
                                AJ Lopatkin and J Collins. <b>Nature Microbiology Reviews</b> (2020)</li>
                            <br>
                             <li><a href="https://advances.sciencemag.org/content/6/4/eaax3173">Environmental and genetic determinants of plasmid mobility in pathogenic Escherichia coli.</a> <br>
                                JH Bethke, A Davidovich, L Cheng, AJ Lopatkin, W. Song, JT Thaden, VG Fowler Jr, M Xiao, L You. <b>Science Advances</b> (2020)</li>
                            <br>
                            <li><a href="https://aiche.onlinelibrary.wiley.com/doi/pdf/10.1002/aic.16848" target="_blank">Growth‐Stage‐Dependent Regulation of Conjugation.</a> <br>
                                TA Sysoeva, YL Kim, J Rodriguez, AJ Lopatkin, L You. <b>AlChE</b> (2019)</li>
                            <br>
                            <li><a href="https://www.nature.com/articles/s41564-019-0536-0.epdf?shared_access_token=YE11WzM1wk2DRDIaZSdRqNRgN0jAjWel9jnR3ZoTv0OyonAyjqpxiZG_DZfzWbEScYhHhACXn99kfogvPSgrEg0wBD-Mw4knCqZgGb1FN_CBq6FgllwmPL2DWhvbeuplzW5pQTvAGG6j8csZhDVj6w%3D%3D" target="_blank">Bacterial metabolic state more accurately predicts antibiotic lethality than growth rate.</a> <br>
                                AJ Lopatkin, JM Stokes, EJ Zheng, JH Yang, MK Takahashi, L You, JJ Collins. <b>Nature Microbiology</b> (2019)</li>
                            <br>
                            <li><a href="https://www.cell.com/action/showPdf?pii=S1550-4131%2819%2930312-2" target="_blank">Bacterial Metabolism and Antibiotic Efficacy.</a> <br>
                                JM Stokes, AJ Lopatkin, MA Lobritz, JJ Collins. <b>Cell Metabolism</b> (2019)</li>
                            <br>
                            <li><a href="https://www.cell.com/cell/pdf/S0092-8674(19)30402-7.pdf" target="_blank">A white-box machine learning approach for revealing antibiotic mechanisms of action.</a> <br>
                                JH Yang, SN Wright, M Hamblin, D McCloskey, MA Alcantar, L Schrubbers, AJ Lopatkin, S Sateesh, A Nili, BO Palsson, GC Walker, JJ Collins. <b>Cell</b> 177 (1-13) (2019)</li>
                            <br>
                            <li><a href="https://www.nature.com/articles/s41592-019-0333-y#article-info" target="_blank">A multiplexable assay for screening antibiotic lethality against drug-tolerant bacteria.</a> <br>
                                JM Stokes, A Gutierrez, AJ Lopatkin, IW Andrews, S French, I Matic, ED Brown, JJ Collins. <b>Nature methods</b> (2019)</li>
                            <br>
                            <li><a href="https://www.nature.com/articles/s41467-018-08188-5" target="_blank">A unifying framework for interpreting and predicting mutualistic systems.</a> <br>
                                F Wu, AJ Lopatkin, DA Needs, CT Lee, S Mukherjee, L You. <b>Nature communications</b> 1 (6), 16044 (2019)</li>
                            <br>
                            <li><a href="http://advances.sciencemag.org/content/4/12/eaau1873.abstract" target="_blank">Applying ecological resistance and resilience to dissect bacterial antibiotic responses.</a> <br>
                                HR Meredith, V Andreani, HR Ma, AJ Lopatkin, AJ Lee, DJ Anderson, AJ Lee, DJ Anderson, G Batt, L You. <b>Scientific advances</b> 4 (12), eaau1873 (2018)</li>
                            <br>
                            <li><a href="https://www.nature.com/articles/s41467-017-01532-1" target="_blank">Persistence and reversal of plasmid-mediated antibiotic resistance.</a> <br>
                                AJ Lopatkin, HR Meredith, JK Srimani, C Pfeiffer, R Durrett, L You. <b>Nature communications</b> 8 (1), 1689 (2017)</li>
                            <br>
                            <li><a href="http://msb.embopress.org/content/msb/13/10/948.full.pdf" target="_blank">Drug detoxification dynamics explain the postantibiotic effect.</a> <br>
                                JK Srimani, S Huang, AJ Lopatkin, L You. <b>Molecular systems biology</b> 13 (10), 948 (2017)</li>
                            <br>
                            <li><a href="https://www.nature.com/articles/s41598-017-00588-9" target="_blank">Cooperation and competition shape ecological resistance during periodic spatial disturbance of engineered bacteria.</a> <br>
                                CE Wilson, AJ Lopatkin, TJA Craddock, WW Driscoll, OT Eldakar, JV Lopez, RP Smith. <b>Scientific reports</b> 7 (1), 440 (2017)</li>
                            <br>
                            <li><a href="https://www.nature.com/articles/nmicrobiol201644" target="_blank">Antibiotics as a selective driver for conjugation dynamics.</a> <br>
                                AJ Lopatkin, S Huang, RP Smith, JK Srimani, TA Sysoeva, S Bewick, DK Karig, L You. <b>Nature microbiology</b> 1 (6), 16044 (2016)</li>
                            <br>
                            <li><a href="https://genome.duke.edu/labs/YouLab/publications/2016_Elements.pdf" target="_blank">Elements of biological oscillations in time and space.</a> <br>
                                Y Cao, AJ Lopatkin, L You. <b>Nature structural & molecular biology</b> 23 (12), 1030 (2016)</li>
                            <br>   
                            <li><a href="https://pdfs.semanticscholar.org/c2ed/85ed4d12865fba3e8b4eb4ae312c36a42814.pdf" target="_blank">Dissecting the effects of antibiotics on horizontal gene transfer: Analysis suggests a critical role of selection dynamics.</a> <br>
                                AJ Lopatkin, TA Sysoeva, L You. <b>Bioessays</b> 38 (12), 1283-1292 (2016)</li>
                            <br>  
                            <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4806783/" target="_blank">Collective antibiotic tolerance: mechanisms, dynamics and intervention.</a> <br>
                                HR Meredith, JK Srimani, AJ Lee, AJ Lopatkin, L You. <b>Nature chemical biology</b> 11 (3), 182 (2015)</li>
                            <br>
                            <li><a href="https://www.nature.com/articles/nchembio.1754" target="_blank">Collective antibiotic tolerance: mechanisms, dynamics and intervention.</a> <br>
                                HR Meredith, JK Srimani, AJ Lee, AJ Lopatkin, L You. <b>Nature chemical biology</b> 11 (3), 182 (2015)</li>
                            <br> 
                            <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4527312/" target="_blank">Dynamic control and quantification of bacterial population dynamics in droplets.</a> <br>
                                S Huang, JK Srimani, AJ Lee, Y Zhang, AJ Lopatkin, KW Leong, L You. <b>Biomaterials</b> 61, 239-245 (2015)</li>
                            <br>                            
                            <li><a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004201" target="_blank">Bacterial temporal dynamics enable optimal design of antibiotic treatment.</a> <br>
                                HR Meredith, AJ Lopatkin, DJ Anderson, L You. <b>PLoS computational biology</b> 11 (4), e1004201 (2015)</li>
                            <br>   
                            <li><a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004203" target="_blank">A power-law dependence of bacterial invasion on mammalian host receptors.</a> <br>
                                TJ Lee, J Wong, S Bae, AJ Lee, AJ Lopatkin, F Yuan, L You. <b>PLoS computational biology</b> 11 (4), e1004203	3 (2015)</li>
                            <br> 
                            <li><a href="https://www.sciencedirect.com/science/article/pii/S0092867414012902" target="_blank">Synthetic biology looks good on paper.</a> <br>
                                AJ Lopatkin, L You. <b>Cell</b> 159 (4), 718-720 (2014)</li>
                            <br>  
                        </ol>
                    </p>
              </div>
            </div>
        </div>
    </section>
