<!-- Research Section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>research</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </header>
    <section class="success" id="research" style="padding-top: 0px">
          <div class="container">
            <div class="row">
                    <p><font size="4">
                        Antibiotic resistance is a growing worldwide threat. It’s been predicted that without drastic intervention, mortality from infectious diseases will become the leading global cause of death by 2050. The primary way that antibiotic resistance spreads is through a process called horizontal gene transfer (HGT). HGT is particularly rampant in microbial communities such as the human microbiome. Many different factors can affect the transmission of resistance via HGT; one particularly relevant consideration is cellular metabolism. However, the environments of natural microbial communities consist of many complexities that alter the cell’s metabolism, such as nutrients that vary in compositions and concentrations, fluctuations in temperature and pH. How can we integrate all of these aspects that might influence HGT, and simplify it to reveal the most important ones?
                        <br><br>
                        Research in the Lopatkin lab focuses on understanding the role of bacterial metabolism in modulating HGT dynamics. We do this using two complementary approaches:
                        <br><br><br><br>
                    </p>
                    <!-- Copy from here down to create a new section !-->
                    <p><font size="6"><b>Metabolism & the Evolution of Antibiotic Resistance</b></font></p><br>
                        <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/metabolism_research.png" width="300" height="100"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p>Antibiotic lethality actively depends on bacterial metabolism, selecting for cells with altered metabolic states. Here we study the metabolic response of cells exposed to antibiotics in the absence of HGT. This provides a baseline for the evolutionary dynamics that we can expect for bacteria that might encounter a resistance gene. </td>
                            </tr>
                        </table>
                    <br>
                    <!-- Stop copying here for new section/entry !-->
                    <!-- Copy from here down to create a new section !-->
                    <p><font size="6"><b>Horizontal Gene Transfer</b></font></p><br>
                        <!-- Copy from here down to create a new entry !-->
                        <table border="0", cellpadding="15">
                            <tr>
                                <td valign="center"><img src="/img/hgt_research.png" width="267" height="250"></td>
                                <td valiagn="left">&nbsp;&nbsp;&nbsp;</td>
                                <td valign="left"><p>We measure key parameters associated with HGT, such as the rates of gene transfer and the metabolic burden of carrying plasmid (DNA elements of gene exchange). We use these measurements to build predictive mathematical models of bacterial populations, and we test model predictions experimentally in the lab. </td>
                            </tr>
                        </table>
                    <br>
                    <!-- Stop copying here for new section/entry !-->
                <div class="col-lg-4">
                    <p></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Email the Lopatkin Lab
                    </a>
                </div>
            </div>
        </div>
    </section>
