<!-- Updates Section -->
    <section id="updates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Recent Updates</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div>
                 <center>
                    <p></p>
                </center>
                  </div>
                <div class="col-lg-12">
                   <ul>
                     <li> June 4 2021: Hannah presents her work on plasmid acquisition costs at the <a href="https://as.nyu.edu/content/nyu-as/as/departments/biology/events-news/events/2021/2021-ny-big.html" target="_blank">NY B.I.G. conference </a> !
                   </ul>
                   <ul>
                     <li> May 6 2021: Check out this <a href="https://datascience.columbia.edu/news/2021/investigating-the-rise-and-spread-of-resistance-in-microbial-populations/" target="_blank">recent Columbia University Data Science Institute article</a> on Dr. Lopatkin!
                   </ul>                    
                </div>
            </div>
        </div>
    </section>
